h1{
    color: #c09451;
    text-align: center ;
    font-weight: 900;
}
h2{
    color:#c09451 ;
    text-align: center;
}
body{
    background-color: antiquewhite;

}
p{
    text-align: center;
}
.pic{
text-align: center;
}
